################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lekcja4/Lekcja4/InterfacesAndStrategy/obj/Debug
/Lekcja4/Lekcja4/.vs/Lekcja4/v16
